:global(.ant-layout){
  // background-image: url('../../assets/alt.jpg');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
}
.header-star {
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 35px;
}

.page-layout {
  display: flex;
  margin: 0 200px;
  .page-left {
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
  }
  
  .page-right {
    font-family: 'Courier New', Courier, monospace;
    // background-color: rebeccapurple;
    width: 300px;
  }
}
@media screen and (min-width: 960px){
  .page-left {
    min-width: 710px;
  }
}
@media screen and (max-width: 960px){
  .page-right {
    display: none;
  }
  .page-layout {
    margin: 0;
  }
  .calendar {
    margin: 0 50px;
  }
}
@media only screen and (max-width : 480px) {
  .img-style {
    width: 100%;
  }
  .page-left {
    width: 90%;
  }
  .ant-list {
    margin: 0 15px;
  }
}